.Home {
  background-color: #6f3cfd;
  width: 100%;
  min-height: 100vh;
}
header {
  display: flex;
  align-items: center;
  padding-top: 25px;
  padding-left: 25px;
}
header h1 {
  color: #ffffff;
  padding: 25px;
  font-size: 48px;
  font-weight: 700;
}

header img {
  width: 100px;
  height: 100px;
}

.game {
  width: 100%;
  display: flex;
}

.game-word {
  width: 100%;
  background-color: #8457ff;
  margin: 25px;
  padding: 25px;
  border-radius: 25px;
  display: flex;
}

.game-hanged {
  width: 100%;
  height: 500px;
  background-color: #8457ff;
  margin: 25px;
  padding: 25px;
  border-radius: 25px;
}

footer {
  color: #ffffff;
  background-color: #6933ff;
  margin: 25px;
  padding: 25px;
  border-radius: 25px;
}