.Home {
  background-color: #6f3cfd;
  width: 100%;
  min-height: 100vh;
}
header {
  display: flex;
  align-items: center;
  padding-top: 25px;
  padding-left: 25px;
}
header h1 {
  color: #ffffff;
  padding: 25px;
  font-size: 48px;
  font-weight: 700;
}

header img {
  width: 100px;
  height: 100px;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.game {
  width: 100%;
  display: flex;
}

.game-word {
  width: 100%;
  background-color: #8457ff;
  margin: 25px;
  padding: 25px;
  border-radius: 25px;
}

.game-word div {
  display: flex;
}

.game-word p {
  margin: 20px 5px 0px;
  padding: 5px;
  background-color: #eeeeee;
  border-radius: 10px;
  width: fit-content;
}

.game-word span {
  display: block;
  color: #4b4b4b;
  margin-bottom: 15px;
}

.game-hanged {
  width: 100%;
  height: 500px;
  background-color: #8457ff;
  margin: 25px;
  padding: 25px;
  border-radius: 25px;
}

.WrongLetters {
  display: flex;
  flex-direction: column;
  margin: 15px 5px;
}

.UnusedLetters div {
  display: flex;
}

footer {
  color: #ffffff;
  background-color: #6933ff;
  margin: 25px;
  padding: 25px;
  border-radius: 25px;
}